# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.svg text

